.leftDiv {
    background-color: #3498db;
    color: white;
}

.rightDiv {
    background-color: white;
}

.row {
    margin-top: 15pt;

}

#education {
    margin-top: -30pt;
    margin-left: 25pt;
    margin-right: 25pt;

}
.word {
    font-size: larger;
    font-family: Roboto;
    height: 25pt;
    padding: 5pt;
    border: 5pt transparent;

}

body {
    font-family: Roboto;

}

.btn {
    background-color: #1d6fa5;
}




